<section id="hero" class="hero">
  <div class="container">
    <h1 class="hero-title">
      <span class="gradient-text">Frontend</span> Developer
    </h1>
    <p class="hero-subtitle">Hola, soy Yeifran Hernadez</p>
  </div>
</section>

<style>
  .hero {
    text-align: center;
    padding: 4rem 0;
  }
  
  .hero-title {
    font-size: 4rem;
    line-height: 1.2;
    margin-bottom: 1.5rem;
  }
  
  .gradient-text {
    background: linear-gradient(45deg, var(--primary), var(--secondary));
    -webkit-background-clip: text;
    /* -webkit-text-fill-color: transparent; */
  }
  
  .hero-subtitle {
    font-size: 1.5rem;
    color: var(--text);
    opacity: 0.8;
  }
</style>
